.fundo_modal {
    position: fixed;
    background-color: #3e3e3ea5;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_mapa {
    background-color: rgba(255, 255, 255, 1);
    display        : flex;
    width          : 650px;
    border-radius: 0.3rem;
    justify-content: center;
    align-items: center;
}

.caixa_mapa {
    background-color: rgba(255, 255, 255, 1);
    display        : flex;
    width          : 500px;
    padding: 40px 0px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.caixas {
    background-color:  rgba(255, 255, 255, 1);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.caixa_buscar {
    background-color:rgba(255, 255, 255, 1);
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.caixa_inserir {
    display: flex;
    width: 100%;
    padding: 15px 170px 15px 15px;
    background-color: rgba(247, 247, 247, 1);
    border-radius: 0.3rem;
    border: none;
}

.caixa_meulocal {
    background-color:  rgba(255, 255, 255, 1);
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid gainsboro;
    border-radius: 0.3rem;
    padding: 10px;
}

.caixa_meulocal:hover {
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
}

*{
    font-family     : "iFood RC Titulos", iFood RC Textos, helvetica, sans-serif;
}


