.fundo_modal {
    position: fixed;
    background-color: #3e3e3ea5;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fechar_carrinho{
    background-color:rgba(255, 255, 255, 1);
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}

.modal_carrinho {
    background-color: rgba(255, 255, 255, 1);
    display        : flex;
    width          : 350px;
    padding: 20px 5vh;
    padding-bottom: 5vh;
    border-radius: 0.3rem;
    justify-content: center;
    align-items: center;
}

.caixa_carrinhocheio {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.caixas {
    background-color:  rgba(255, 255, 255, 1);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.caixas a:nth-child(1){
    color: black;
}

.caixas_produto {
    background-color:  rgba(255, 255, 255, 1);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.caixas_produto div:nth-child(1){
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.botoes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.texto_vermelho {
    display: flex;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    color: red;
    padding: 10px 10px;
    font-size: 12px;
    cursor: pointer;
}

.cupom {
    display: flex;
    align-items: center;

}

.botao-total {
    display: flex;
    border-radius: 0.3rem;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    margin-top: 2vw;

}

/* *{
    border:1px dashed blue !important;
} */

.botao-total input[type='button']{
    background-color: red;
    padding: 1rem 1rem;
    border-radius: 0.3rem;
    color: white;
    border: none;
}

*{
    font-family     : "iFood RC Titulos", iFood RC Textos, helvetica, sans-serif;
}

hr{
    width: 100%;
    color: lightgray;
}

a{
    text-decoration: none;
}