.fundo_modal {
    position: fixed;
    background-color: #3e3e3ea5;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fechar_carrinho{
    background-color: red;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}

.modal_carrinho {
    background-color: rgba(255, 255, 255, 1);
    display        : flex;
    height         : 580px;
    width          : 350px;
    border-radius: 2%;
    justify-content: center;
    align-items: center;
}

.caixa_carrinhovazio{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

*{
    font-family     : "iFood RC Titulos", iFood RC Textos, helvetica, sans-serif;
}