body{
    height: 100vh;
    box-sizing: border-box; 
    background-color: white;
    color: black;
    background-image: url('../assets/FundoTelap1.png'); 
}

#imagem-principal{  
    width: 120px;
    height: auto;
    margin-left: 50px;
    position: fixed;
    top: 30px;

}

img{
    width: 540px;
    height: auto;
    top: 110px;
    position: fixed;
    margin-left: 80px;
   
}

#quadro-branco{
    width: 490px;
    top: 140px;
    right: 40px; 
    transform: translate(0, 0);
    box-shadow: 0 4px 8px rgba(7, 7, 7, 0.2);

}

.informe-email{
    position: fixed;
    top: 190px;
    right: 148px; 
    transform: translate(0, 0);
    text-align: center;
    color: #717171;
    font-size: 18px;
    font-family: "iFood RC Titulos", iFood RC Textos, helvetica, sans-serif;
    

}

.btn-informe-email{
    border: solid 2px rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.4);
    padding: 15px 25px; 
    text-align: left; 
    font-size: 16px; 
    border-radius: 3px;
    text-decoration: none;  
    width: 350px;
    position: fixed; 
    top: 260px; 
    right: 80px;
}

.txtgrande {
    position: fixed;
    top: 315px;
    right: 86px; 
    transform: translate(0, 0);
    text-align: left;
    color: #717171;
    font-size: 12px;
    font-family: "iFood RC Titulos", iFood RC Textos, helvetica, sans-serif;

}

.btn-continuar{
    background-color: #ea1d2c;
    color: white; 
    padding: 15px 25px; 
    text-align: center; 
    font-size: 16px; 
    border-radius: 3px;
    text-decoration: none; 
    border: none; 
    cursor: pointer;
    width: 400px;
    position: fixed; 
    top: 390px; 
    right: 86px;
}

.SetaVermelha{
    width: 15px;
    border-radius: 1px;
    right: 490px;
    top: 175px;
}